<select {{action 'change' on='change' }}  class="inputMaterial" >
    <option default>--Select  Usertype--</option>
    {{#each listitem as |item|}}
    <option value={{item}} selected={{selecteditem}}>{{item}} </option>
    {{/each}}
</select> {{selecteditem}}

