
<br/>
<br/>
<br/>
<br/>
<br/>
<script>
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $('.go-top').fadeIn(200);
            } else {
                $('.go-top').fadeOut(200);
            }
        });
        // Animate the scroll to top
        $('.go-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, 300);
        })
    });
</script>
<br/>
<div class="materialrequest-box">
 <br/>

  
 {{#if isShowclaimdetails}}
  <div id="inner-form-header">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>Claim Details</b></h1></div>
    <!--<div id="bottom-head"><h1 id="logintoregister">Login</h1></div>-->
  </div> 
  <br/>
   <form action="" method="post">
     <div class="myformleft" align="center">
    <div class="group">  
            
       {{validated-input  type="text" model=this  valuePath='companyname' placeholder="Claim to" required=""}}
      
    </div>
	    
     <div class="group">      
    {{pick-a-date class='inputMaterial' date=(readonly formdate) on-selected=(action (mut formdate)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
    </div>
      
     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='claimamount' placeholder="Claim Amount" required=""}}
      
    </div>
     <div class="row ">
      <button class="mybutton" type="submit" {{action 'submitdetails'}}>submit</button>
    </div> 

     </div>
    {{!-- </div> --}}
   
  </form>
{{/if}}
  <a href="#" class="go-top">Scroll to Top</a> 
  {{#if isshowbutton}}
  <div align="center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  <div class="group">      
    {{pick-a-date class='inputMaterial' date=(readonly formdate) on-selected=(action (mut formdate)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
    </div>
  <div class="group">      
      {{validated-input  type="text" model=this  valuePath='damageamont' placeholder="Damage Amount" required=""}}
    </div>

   <div class="group">      
      {{validated-input  type="text" model=this  valuePath='claimamount' placeholder="Claim Amount" required=""}}
     </div>
  </div>
  <br/>
  
   <div class="group">
      <button class="mybutton" type="submit" {{action 'doclaimRequest'}}>Claim request</button>
    </div> 
 {{/if}}  
  
 

 </div> 


 {{#if ShowingModalrequest}}
{{#modal-dialog close="submitdetails" targetAttachment="center" translucentOverlay=true}}
                 <h3>Claim requested Sucessfully... !</h3>
                        <div class="modal-header">
                              <button type="button" class="mybutton" {{action "okbutton" }}>ok</button>
                        </div>
 {{/modal-dialog}}
 {{/if}}


 
 {{#if myShowingModal}}
{{#modal-dialog close="submitdetails" targetAttachment="center" translucentOverlay=true}}
                 <h3>Your Claim Process Started .... !</h3>
                        <div class="modal-header">
                             <!-- <button type="button" class="close" {{action "okbutton" }}>ok</button>-->
                          <button type="button" class="mybutton" ><a href="https://commercialui.herokuapp.com">Proceed</a></button>
                        </div>
 {{/modal-dialog}}
 {{/if}}
