
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<script>
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $('.go-top').fadeIn(200);
            } else {
                $('.go-top').fadeOut(200);
            }
        });
        // Animate the scroll to top
        $('.go-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, 300);
        });
        
    });
</script>
<div id="historyheader">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>User Dashboard</b></h1></div>
</div> 
<div class="dashbord-container">
    <br/>
    <h3 style="text-align:center;color:#808080"><b>Total Request Completed</b></h3>
<div class="container">
    <br/>
    <div   style="width: 60%; margin: 0 auto;">
      <div class="left"><a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle-lg btn-success">{{openStatus}}</a>
            <br/>
            <br/>
            <h3  class="progress-title">OPEN Request</h3></div>
            <div class="right"><a href="#aboutModal" data-toggle="modal" data-target="#myModal" style="align:center" class="btn btn-circle-lg btn-danger">{{closedStatus}} </a>
            <br/>
            &nbsp;&nbsp;&nbsp;
            <br/>
            
        
            <h3 class="progress-title">CLOSED Request</h3></div> 
        {{!-- <div class="col-md-4"> --}}
            
            
         {{!-- </div> --}}
            
        {{!-- <div class="col-md-4"> --}}
             
           
         {{!-- </div>  --}}
       
    </div>
</div>
  <hr class="style3">
<h3 style="text-align:center;color:#808080"><b>Status Count</b></h3>
<div class="container" style="padding-left:50px">
 

    <div class="row">
        <div class="col-md-6">
            <h3 class="progress-title">Material  Request</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{MaterialRequestedcount}}%; background:#5fad56">
                    <div class="progress-value">{{IsMaterialRequestedCount}}</div>
                </div>
            </div>
 
            <h3 class="progress-title">Quotation Raised</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{QuotationRaisedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{IsQuotationRaisedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">PO Raised</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{POraisedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{ISPOCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">Invoice Raised</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{InvoiceRaisedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isInvoiceRaisedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">Invoice Approved</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{InvoiceApprovedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isInvoiceApprovedCount}}</div>
                </div>
            </div>
             <h3 class="progress-title">DO Raised</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{DOraisedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isDOraisedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">Quotation Rejected</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{QuotationRejectedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isQuotationRejectedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">DO Delivered</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{DoDeliveredcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isDoDeliveredCount}}</div>
                </div>
            </div>
            <h3 class="progress-title"> DO Not Delivered</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{NotDeliveredcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isNotDeliveredCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">Payment Initiated</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{PaymentInitiatedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isPaymentInitiatedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">Payment Received</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{PaymentReceivedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{IsPaymentReceivedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">claim Requested</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{claimRequestedcount}}%; background:#5fad56;">
                    <div class="progress-value">{{isclaimRequestedCount}}</div>
                </div>
            </div>
            <h3 class="progress-title">claim Raised</h3>
            <br/>
            <div class="progress green">
                <div class="progress-bar" style="width:{{claimRaisedCount}}%; background:#5fad56;">
                    <div class="progress-value">{{isclaimRaisedCount}}</div>
                </div>
            </div>
           
          <!--  -->
        </div>
    </div>

</div>

</div>



{{!-- <div class="chart">
  <h3>My Skills</h3>
  <table id="data-table" border="1" cellpadding="10" cellspacing="0"
  summary="Percentage of knowledge acquired during my experience
  for each technology or language.">
    <thead>
      <tr>
         <td>&nbsp;</td>
         <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <th scope="row">HTML/CSS</th>
         <td>85</td>
      </tr>
      <tr>
         <th scope="row"><a href="http://www.jqueryscript.net/tags.php?/Bootstrap/">Bootstrap</a></th>
         <td>90</td>
      </tr>
      <tr>
         <th scope="row">JavaScript</th>
         <td>70</td>
      </tr>
      <tr>
         <th scope="row">AngularJS</th>
         <td>60</td>
      </tr>
      <tr>
         <th scope="row">jQuery</th>
         <td>85</td>
      </tr>
      <tr>
         <th scope="row">Ajax</th>
         <td>60</td>
      </tr>
      <tr>
         <th scope="row">PHP</th>
         <td>50</td>
      </tr>
      <tr>
         <th scope="row">MySQL</th>
         <td>60</td>
      </tr>
      <tr>
         <th scope="row">ITIL</th>
         <td>90</td>
      </tr>
      <tr>
         <th scope="row">Scrum</th>
         <td>90</td>
      </tr>
    </tbody>
  </table>
   <script src="js/graph.js"></script>

</div> --}}

 <a href="#" class="go-top">Scroll to Top</a> 
