<br/>
<br/>
<br/><br/>
<br/>
<br/>

<div id="historyheader">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>Transaction History</b></h1></div>
</div> 
<div class="historydispaly">
  <div class="historydispaly-left">
    <!--<p style="font-size: 20px;color: coral;text-align:center">Transaction Id :</p>-->
    

<!--<ul style="list-style-type:none">

   {{#each Transactionlist as |item|}} 
    <div class="inner-historydisplay">
    <b>Date:</b> <li>{{item.date}}</li> 
     <b>Update By:</b>  <li>{{item.updatedBy}}</li>
     <b>Quantity :</b>   <li>{{item.Quantity}}</li>
      <b>intended-to:</b> <li>{{item.intended-to}}</li>
      <b>cost:</b> <li>{{item.cost}}</li>
      <b>Attachment:</b> <li>{{item.Attachment}}</li>
      <hr class="style3">
     <!--</div>
     <br/>
  {{/each}}

  </ul>-->
  <ul style="list-style-type:none">

   {{#each transactionlist as |item|}} 
     
      <li style="padding-left: 50%"><b> Updated By:</b>{{item.transactiondetails.updatedBy}}</li>
     <li style="color:red"><b> Date:</b>{{item.transactiondetails.formdate}}</li> 
     <li><b> Request To:</b>{{item.transactiondetails.companyname}}</li>
     <li><b> Item :</b> {{item.transactiondetails.item}}</li>
      <li><b> Quantity :</b>{{item.transactiondetails.Quantity}}</li>
      <li><b> Total Cost :</b>{{item.transactiondetails.totalamount}}</li>
      <li> <b> Address: </b>{{item.transactiondetails.address}}</li>
      <li> <b> URL: </b><a href={{item.transactiondetails.url}} download>Downlod</a>
          </li>
      <hr class="style3">
      <br/>
  {{/each}}

  </ul>
 
 </div>
 <!-- this button is for updateing next transaction-->
    <div class="row ">
      <button class="mybutton" type="submit" {{action 'gotoupdate'}}>Update</button>
    </div> 

</div>


