<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="materialrequest-box">
  {{#if isShowpaymentorder}}
  <div id="inner-form-header">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>Payment Order</b></h1></div>
    <!--<div id="bottom-head"><h1 id="logintoregister">Login</h1></div>-->
  </div> 
  <br/>
   <form action="" method="post">
     <div class="myformleft" align="center">
    <div class="group">       
       {{validated-input  type="text" model=this  valuePath='companyname' placeholder="Payment To" required=""}}
    </div>
	    
     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='formdate' placeholder="Payment date" required=""}}  
    </div>

     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='formno' placeholder="Payment Order NO" required=""}} 
    </div>

     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='totalamount' placeholder="Total Amount" required=""}} 
    </div>
    
     {{!-- <div class="myformright"> --}}
     
     <div class="row ">
      <button class="mybutton" type="submit" {{action 'submitdetails'}}>submit</button>
    </div> 
     </div>
    {{!-- </div> --}}
         
  </form>
  {{/if}}
  {{#if isshowpaymentbutton}}
  <div class="row ">
      <button class="mybutton" type="submit" {{action 'paymentrecieved'}}>Payment Recieved</button>
    </div> 
  {{/if}}
 </div> 
 {{#if ShowingModalrequest}}
{{#modal-dialog close="submitdetails" targetAttachment="center" translucentOverlay=true}}
          <h3>Payment updated Sucessflly... !</h3>
                <div class="modal-header">
                        <button type="button" class="close" {{action "okbutton" }}>ok</button>
                </div>
 {{/modal-dialog}}
 {{/if}}