<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  {{#if isShowpaymentorder}}
<div class="materialrequest-box">

  <div id="inner-form-header">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>Payment Order</b></h1></div>
    <!--<div id="bottom-head"><h1 id="logintoregister">Login</h1></div>-->
  </div> 
  <br/>
   <form action="" method="post">
     <div class="myformleft" align="center">
    <div class="group">       
       {{validated-input  type="text" model=this  valuePath='companyname' placeholder="Payment To" required=""}}
    </div>
	    
     <div class="group">      
    {{pick-a-date class='inputMaterial' date=(readonly formdate) on-selected=(action (mut formdate)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
    </div>

     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='formno' placeholder="Payment Order NO" required=""}} 
    </div>

     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='totalamount' placeholder="Total Amount" required=""}} 
    </div>
      <div class="group">   
        {{#pl-uploader  for="upload_file" runtimes="html5 flash silverlight" onfileadd="uploadDoc" as |queue|}}
          <a id="upload_file" style="font-size:18px"><img src="assets/images/images2.png" alt="Smiley face" width="42" height="42">Click Here To Upload Payment Details</a>
         {{/pl-uploader}}
 
    </div>
   
    
     {{!-- <div class="myformright"> --}}
     
     <div class="row ">
      <button class="mybutton" type="submit" {{action 'submitdetails'}}>submit</button>
    </div> 
     </div>
    {{!-- </div> --}}
         
  </form>
  </div>
  {{/if}}

  {{#if isshowpaymentbutton}}
  <div class="payment-box">
   <div class="myformleft" align="center">
  <div class="group">      
      {{pick-a-date class='inputMaterial' date=(readonly formdate) on-selected=(action (mut formdate)) placeholder="Enter Payment Recieved Date" options=(readonly extraPickadateOptions)}}
    </div>

     <div class="group">
      <button class="mybutton" type="submit" {{action 'paymentrecieved'}}>Payment Recieved</button>
    </div> 
    </div>
     </div> 
  {{/if}}

 {{#if ShowingModalrequest}}
{{#modal-dialog close="submitdetails" targetAttachment="center" translucentOverlay=true}}
          <h3>Payment updated Sucessfully... !</h3>
                <div class="modal-header">
                        <button class="mybutton" type="button" class="close" {{action "okbutton" }}><img src="assets/images/images7.jpg" alt="Smiley face" width="50" height="50"></button>
                </div>
 {{/modal-dialog}}
 {{/if}}
 {{#if ShowingModal}}
{{#modal-dialog close="submitdetails" targetAttachment="center" translucentOverlay=true}}
          <h3>file Uploaded Sucessfully... !</h3>
                <div class="modal-header">
                        <button type="button" class="close" {{action "Goto" }}><img src="assets/images/images7.jpg" alt="Smiley face" width="50" height="50"></button>
                </div>
 {{/modal-dialog}}
 {{/if}}