<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="materialrequest-box">
  <div id="header">
    <div id="cont-lock" style="text-align:center ;color:white"><h1><b>Purchase Order</b></h1></div>
    <!--<div id="bottom-head"><h1 id="logintoregister">Login</h1></div>-->
  </div> 
   <form action="" method="post">
     <div class="myformleft" align="center">
    <div class="group">  
            
       {{validated-input  type="text" model=this  valuePath='suppliercompanyname' placeholder="Supplier Company Name" required=""}}
      
    </div>
	    <div class="group">      
      {{validated-input  type="text" model=this  valuePath='shippingaddress' placeholder="Shpping Address" required=""}}
      
    </div> 
     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='pono' placeholder="Purchase Order No" required=""}}
    </div>
    <div class="group">      
      {{validated-input  type="text" model=this  valuePath='podate' placeholder="Date" required=""}}
      
    </div>
    <div class="group">      
      {{validated-input  type="text" model=this  valuePath='item' placeholder="item Name" required=""}}
    </div>
     <div class="group">      
      {{validated-input  type="text" model=this  valuePath='quantity' placeholder="Quantity" required=""}}
      
    </div>
     
      
    </div>
    
  <div class="row ">
      <button class="mybutton" type="submit" {{action 'submitrequest'}}>Submit</button>
    </div>  
  </form>
 

</div>
