
<!--<script type="text/javascript">

$(document).ready(function() {
    
    function beeLeft() {
        $("#b").animate({left: "-=500"}, 1500, "swing", beeRight);
    }
    function beeRight() {
        $("#b").animate({left: "+=300"}, 1500, "swing");
    }
    
    beeRight();
});
</script>-->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="step-container">
    <br/>
   
<div class="row"></div>

<div class="stepwizard">
   <ul style="list-style-type:none">
       
    <div class="stepwizard-row">
      
       {{#each transactionlist as |item|}} 
        <div class="stepwizard-step">
         <!--<button type="button" class="btn  btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>           -->
       <img src="assets/images/cube.png" alt="Smiley face" width="42" height="42">
       <p>{{item.transactiondetails.status}} &nbsp;</p>
     </div>
  
       {{/each}}
         </div>
      </ul>
         <!--<div id="b" style="position:absolute;"> -->
           
    </div>
</div>
    <!--   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;23/05/2017
      <div class="wrapper"> 
    
       <button type="button" class="btn btn-circle btn-lg"><i class="glyphicon glyphicon-plane"></i></button>
<div id="b" style="position:absolute;"> 
     <button type="button" class="btn btn-circle btn-lg">
         <i class="glyphicon glyphicon-plane">
         </i>
    </button>
</div>
</div>
 <!--<ul style="list-style-type:none">

   {{#each transactionlist as |item|}} 
     
 <div class="scrolldash">
     <li style="color:red"><b> Date:</b>{{item.transactiondetails.formdate}}</li> 
    <div class="blue">content1</div> 

  
      </div>
      <br/>
  {{/each}}
{{transactionlist}}
  </ul>
  <div class="blue">content1</div> 

 
 
</div>-->
<br/>
<br/>
<!-- user-detail-Table-->
<div class="middle-container">
    {{#if shownewrequestbutton}}
    <div class="row ">
      <button class="mybutton" type="submit" {{action 'newrequest'}}>New Request</button>
    </div>
        {{/if}}
      {{#each data as |item|}}
      <div id="rcorners1">
       <p> <b> Transaction Id </b>: <button type="submit" {{action 'readlegend' item.requestid}} > {{item.requestid}}</button></p>
        <p><b> Date :</b> {{item.date}}</p>
       <p> <b>Status :</b> <span style="color:blue">{{item.status}}</span></p>
       <br/>
       <div class="row">
           <div class="col-sm-6">
       <button class="gobutton" {{action 'godetails' item.requestid  item.status }}>Go</button>
           </div>
             <!--<div class="col-sm-6">
            <button class="updatebutton" {{action  'updatedetails'item.requestid  item.status}}>update</button>
             </div>-->
       </div>
      </div>
      <br/>
      {{/each}}
        
    </div>  
 

   <!-- <button class="mybutton" type="submit" {{action 'callajax'}}>test Request</button>

{{models-table data=data columns=columns go='godetails' update="updatedetails" showComponentFooter=false}}
-->
